

label {
    display: block;
    margin-bottom: 5px; /* Optional: Adds some space between labels and inputs */
}


.movie-name{
   width:27rem;
}

.movie-des{
    width:27rem;
    height:10rem;
}




